#mainDiv{
    width: 100%;
    height : 100% ;
    padding: 5px;
    border: 1px solid red;
}
#innerDiv{
    width: 100%;
    height : 100% ;
    border: 1px solid green;
}
.leftDiv {
    width: 50%;
    height: 50%;
}
.rightDiv{
    float: right;
}
#firstButton{
    width: 50%;
    height: 50%;
}
#secondButton{
    width: 50%;
    height: 50%;
}